<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="<%= data.tags.join(",") %>">

    <title><%= data.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/kjempekjekt.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/highlight/default.css">
    <link href="/assets/js/jquery.counter-analog.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/js/jquery.counter-analog2.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include navbar %>
    <div class="container">
      <div class="row" style="margin-top:40px;">
        <div class="col-md-9">
          <h1><%= data.title %></h1>
          <hr style="margin:5px;">
          <p style="margin-bottom:25px;"><small><span class="glyphicon glyphicon-calendar"></span> <%= data.date_formatted %></small> <% data.tags.forEach(function(tag) { %>
            <a href="<%= functions.tagUrl(tag) %>"><span class="label label-success"><span class="glyphicon glyphicon-tag"></span> <%= tag %></span></a>
          <% }) %></p>
          <%- content %>

        </div>
        <div class="col-md-3" id="sidebar">

        </div>
      </div>

      <% include footer %>
    </div> <!-- /container -->


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/kjempekjekt.js"></script>
  </body>
</html>
