<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= data.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/kjempekjekt.css" rel="stylesheet">
    <link href="/assets/js/jquery.counter-analog.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/js/jquery.counter-analog2.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include navbar %>
    <div class="container">
      <div class="row" style="margin-top:40px;">
        <div class="col-md-9">
          <h1><span class="glyphicon glyphicon-tags"></span> Tags <small>hva er du interessert i?</small></h1>
          <hr style="margin:5px;">

          <% data.tagGroupNames.forEach(function(group) { %>
          <h2><%= group %></h2>
          
          <% data.tags[group].forEach(function(tag) { %>
          <a href="<%= functions.tagUrl(tag.name) %>" class="btn btn-success tagbtn"><b><%= tag.name %></b> <span class="badge"><%= tag.count %></span></a>
                
            </tr>
            <% }); %>

          <% }); %>

        </div>
        <div class="col-md-3" id="sidebar">

        </div>
      </div>

      <% include footer %>
    </div> <!-- /container -->


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/kjempekjekt.js"></script>
  </body>
</html>
